.bg-container {
  display: flex;
  background-color: #ffffff;
  height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0px;
  width: 600px;
  list-style-type: none;
}
.content {
  width: 700px;
}
.image1 {
  width: 150px;
  height: 150px;
}
.image2 {
  width: 10px;
  height: 10px;
}
input {
  width: 100%;
  border-width: 0px;
}
